<h1>
  Descriptive Stats Results
</h1>
<label>
  Numbers
</label>
<h5>
  <%= @numbers %>
</h5>

<label>
  Sorted Numbers
</label>
<h5>
  <%= @sorted_numbers%>
</h5>

<label>
  Count
</label>
<h5>
  <%= @count
</h5>

<label>
  Minimum
</label>
<h5>
  <%= @minimum
</h5>

<label>
  Maximum
</label>
<h5>
  <%= @maximum %>
</h5>

<label>
  Range
</label>
<h5>
  <%= @range %>
</h5>

<label>
  Median
</label>
<h5>
  <%= @median %>
</h5>


<h5>
  <%= link_to "REDO", "/descriptive_stats/new" %>
</h5>
