<h1>
  Payment Results
</h1>
<label>
  APR
</label>
<h5>
  <%= @apr %>
</h5>

<label>
  Number of years
</label>
<h5>
  <%= @years %>
</h5>

<label>
  Principal
</label>
<h5>
  <%= @principal %>
</h5>

<label>
  Payment
</label>
<h5>
  <%= @monthly_payment %>
</h5>

<h5>
  <%= link_to "Calculate another payment", "/payment/new" %>
</h5>
